<%- include('../partials/header.ejs') %>

<div class="center">
    <div class="blur-box text-light">
        <p>You are logged in as: balls</p>
        <a href="/admin/newpost"><button class="btn btn-outline-success">Add phone</button></a>
        <a href="/admin/accounts"><button class="btn btn-outline-info">Manage Accounts</button></a>
        <a href="/api/logout"><button class="btn btn-outline-danger">Logout</button></a>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>