<%- include('../partials/header.ejs') %>

<div class="center">
    <div class="blur-box text-light">
        <p>You are logged in as: <%= user %></p>
        <p>Inputs left as blank will be shown as "N/A". Fields marked with "*" are required.</p>
        <a href="/admin"><button class="btn btn-outline-warning mb-3">Back</button></a>
        <div class="mb-3">
            <h5>New brand</h5>
        </div>
        <hr>
        <form method="post" action="/api/brand">
            <div class="mb-3">
                <label for="phoneName" class="form-label">Name *</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneName" required name="name">
            </div>
            <input type="submit" class="btn btn-outline-primary w-100" value="Create">
        </form>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>