<%- include('../partials/header.ejs') %>

<div class="center">
    <div class="blur-box text-light phone-box">
        <p>You are logged in as: <%= user %></p>
        <p>Inputs left as blank will be shown as "N/A". Fields marked with "*" are required.</p>
        <a href="/admin"><button class="btn btn-outline-warning mb-3">Back</button></a>
        <div class="mb-3">
            <h5>Main Info</h5>
        </div>
        <hr>
        <form method="post" action="/api/phone">
            <div class="mb-3">
                <label for="phoneName" class="form-label">Name *</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneName" required name="name">
            </div>
            <div class="mb-3">
                <label for="phoneModel" class="form-label">Model *</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneModel" required name="model">
            </div>
            <div class="mb-3">
                <label for="phoneChipset" class="form-label">Chipset *</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneChipset" required name="chipset">
            </div>
            <div class="mb-3">
                <label for="phoneCard" class="form-label">Card slot</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneCard" name="sdcard">
            </div>
            <div class="mb-3">
                <label for="phoneStorage" class="form-label">Internal Storage</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneStorage" name="storage">
            </div>
            <div class="mb-3">
                <label for="phoneUSB" class="form-label">USB</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneUSB" name="usb">
            </div>
            <div class="mb-3">
                <label for="phoneBattery" class="form-label">Battery</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneBattery" name="battery">
            </div>
            <div class="mb-3">
                <label for="phoneDisplay" class="form-label">Display</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneDisplay" name="display">
            </div>
            <div class="mb-3">
                <label for="phoneOS" class="form-label">OS</label>
                <input type="text" class="text-input text-light bg-white-50 form-control" id="phoneOS" name="os">
            </div>
            <hr>
            <div class="mb-3">
                <h5>Files</h5>
            </div>
            <div class="mb-3">
                <label for="phoneImage" class="form-label">Image (url) *</label>
                <input type="url" class="text-input text-light bg-white-50 form-control" id="phoneImage" required name="image">
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-primary">Add section</button>
            </div>
            <input type="hidden" id="phoneSections" name="sections" value="none">
            <hr>
            <div class="mb-3">
                <label for="phonePartMap" class="form-label">Partition map (ls -l)</label>
                <textarea class="form-control text-input text-light bg-white-50" id="phonePartMap" name="partmap"></textarea>
            </div>
            <button class="btn btn-outline-primary w-100">Submit</button>
        </form>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>