<%- include('./partials/header.ejs') %>

<div class="blur-main">
    <p class="text-light fs-1 text-center"><b>Modding library</b></p>
    <hr>
    <% for(manufacturer of phones) { %>
        <%- include('./partials/phonelist.ejs', {manufacturer}) %>
    <% } %>
</div>

<%- include ('./partials/footer.ejs') %>