<%- include('./partials/header.ejs') %>

<div class="blur-main">
    <p class="text-light fs-1 text-center"><b>Modding library</b></p>
    <hr>
    <p class="fs-4 phone-manufacturer-header">Google</p>
    <ul style="list-style-type:none;">
        <li><a href="/" class="fs-5 link-primary phone-name">Pixel 6</a></li>
        <li><a href="/" class="fs-5 link-primary phone-name">Pixel 6a</a></li>
        <li><a href="/" class="fs-5 link-primary phone-name">Pixel 5</a></li>
    </ul>
    <p class="fs-4 phone-manufacturer-header">Boogle</p>
    <ul style="list-style-type:none;">
        <li><a href="/" class="fs-5 link-primary phone-name">Bixel 6</a></li>
        <li><a href="/" class="fs-5 link-primary phone-name">Bixel 6a</a></li>
        <li><a href="/" class="fs-5 link-primary phone-name">Bixel 5</a></li>
    </ul>
</div>

<%- include ('./partials/footer.ejs') %>