<%- include('./partials/header.ejs') %>

<div class="center">
    <div class="blur-box">
        <form action="/api/login">
            <div class="mb-3">
                <input type="text" class="form-control text-input text-light" id="username" placeholder="Username" name="username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control text-input text-light" id="password" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

<%- include ('./partials/footer.ejs') %>