.text-input {
    background-color: #181a1b;
    border-color: #3c4144;
}

.text-input:focus {
    background-color: #181a1b;
    border-color: #3c4144;
}


@supports (backdrop-filter: blur(30px)) {
    .blur-main {
        backdrop-filter: blur(30px);
        background-color:rgba(81, 81, 81, 0.4);
        height: 95.5vh;
        padding: 0.5%;
        overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}


@supports not (backdrop-filter: blur(30px)) {
    .blur-main {
        background-color:rgba(81, 81, 81, 0.85);
        height: 95.5vh;
        padding: 0.5%;
        overflow: scroll;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }    
}

.phone-top-items {
    padding:5%;
    padding-bottom: 2%;
}

.info-text {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #d9d9d9;
}

.phone-header {
    color: #f8f9fa;
}

.phone-links {
    padding-left: 5%;
}

.phone-part-map {
    padding-left: 5%;
}

.phone-part-map-table {
    border: 1px solid #373b3e;
}

@supports (backdrop-filter: blur(5px)) {
    .blur-box {
        backdrop-filter: blur(5px);
        background-color:rgba(81, 81, 81, 0.4);
        border-radius: 25px;
        padding: 20px;
        border: 1px solid #d0ccc6;
        font-size: large;
    }
}

@supports not (backdrop-filter: blur(5px)) {
    .blur-box {
        background-color:rgba(81, 81, 81, 0.85);
        border-radius: 25px;
        padding: 20px;
        border: 1px solid #d0ccc6;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95.5vh;
}

.phone-name {
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

.phone-manufacturer-header {
    color: #f8f9fa;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

body {
    background-image: url('/images/back.jpg');
    background-color: #181a1b; /* fallback if img not available */
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-color: #454a4d #202324;
}

.phone-card {
    width: fit-content;
    padding: 20px;
    list-style-type:none;
}

.phone-image {
    width: 15%;
    height: auto;
    padding-right: 15px;
}